{% extends 'base.html' %}
{% block body %}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Name</th>
      <th scope="col">Link</th>
      <th scope="col">About</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>E-gain Software Education</td>
      <td><a href="https://www.arorat.com/" target="_blank">https://www.arorat.com/</a></td>
      <td>Best Place for learn Coading with Arora Sir.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bootstrap</td>
      <td><a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a></td>
      <td>The most popular HTML, CSS, and JS library in the world.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Github</td>
      <td><a href="https://github.com/" target="_blank">https://github.com/</a></td>
      <td>Best Place for Learn Open Source Codes</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Visual Studio Code</td>
      <td><a href="https://code.visualstudio.com/" target="_blank">https://code.visualstudio.com/</a></td>
      <td>Visual Studio Code is a free source-code editor<br> made by Microsoft for Windows, Linux and macOS.</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>HackerRank</td>
      <td><a href="https://www.hackerrank.com/" target="_blank">https://www.hackerrank.com/</a></td>
      <td>Best Place for Learn Open Source Codes and<br> comptative coding.</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>CodeForces</td>
      <td><a href="https://codeforces.com/" target="_blank">https://codeforces.com/</a></td>
      <td>Best Place for comptative coding.</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Codechef</td>
      <td><a href="https://www.codechef.com/" target="_blank">https://www.codechef.com/</a></td>
      <td>Best Place for Learn Open Source Codes</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>GeeksForGeeks</td>
      <td><a href="https://www.geeksforgeeks.org/" target="_blank">https://www.geeksforgeeks.org/</a></td>
      <td>Best Place for Learn Coading.</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Github</td>
      <td><a href="https://leetcode.com/" target="_blank">https://leetcode.com/</a></td>
      <td>Best Place for comptative coding.</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>MySQL</td>
      <td><a href="https://www.mysql.com/" target="_blank">https://www.mysql.com/</a></td>
      <td>Best for DataBase, World 2nd Most popular DataBase.</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Oracle</td>
      <td><a href="https://www.oracle.com/index.html" target="_blank">https://www.oracle.com/index.html</a></td>
      <td>World Most Popular DataBase.</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Anaconda</td>
      <td><a href="https://www.anaconda.com/" target="_blank">https://www.anaconda.com/</a></td>
      <td>Individual Edition - Anacondawww.anaconda.com ›<br> products › individual Anaconda Individual Edition<br> is the world's most popular Python distribution<br> platform with over 20 million users worldwide.</td>
    </tr>
  </tbody>
</table> 
{% endblock body %}